@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

.header{
 

  height: 20%;
  display: flex;
  justify-content: center;
 
}

.word {
  
  margin-top:10%;
  color: white;
  /* font: 700 normal 5em 'tahoma';*/

  font-family: 'Lobster', cursive;
  font-size: 5em;


  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

/* body {
  display: grid;
  place-items: center;
} */

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  margin-top : 10%;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-index {
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  /* animation: slideIn 1.5s ease-in-out forwards; */
  transition: all .8s ease;
}
@media (min-width: 600px) {
  .card-index {
    height: 350px;
  }
}
.card-index:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-index:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-index:nth-child(1):before {
  animation: slideUp 1.0s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1610387528262-b8c804dabb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.card-index:nth-child(2):before {
  animation: slideUp 1.2s ease-in-out forwards;
  background-image: url(https://p0.pikist.com/photos/209/966/building-condominium-buildings-engineering.jpg);
}
.card-index:nth-child(3):before {
  animation: slideUp 1.4s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1561026554-29d9815d4f3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}
.card-index:nth-child(4):before {
  animation: slideUp 1.6s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1600644005380-2d383d88cb09?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.card-index:nth-child(5):before {
  animation: slideUp 1.8s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1641877492086-771bc14a8e5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=759&q=80);
}
.card-index:nth-child(6):before {
  animation: slideUp 2.0s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1635557297490-b9c99368384b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
.card-index:nth-child(7):before {
  animation: slideUp 2.2s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1627052428109-576e839d100a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
}
.card-index:nth-child(8):before {
  animation: slideUp 2.4s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1543051932-6ef9fecfbc80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=724&q=80);
}
.card-index:nth-child(9):before {
  animation: slideUp 2.6s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1506744272967-64058cba4bec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80);
}

.card-index:nth-child(10):before {
  animation: slideUp 2.8s ease-in-out forwards;
  background-image: url(https://images.unsplash.com/photo-1541447271487-09612b3f49f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}




.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}


/* ANIMATION  */
/* ---------------------------------------------- */

/* ---------------------------------------------------- */
@media (hover: hover) and (min-width: 600px) {
  .card-index:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-index:hover,
.card-index:focus-within {
    align-items: center;
  }
  .card-index:hover:before,
.card-index:focus-within:before {
    transform: translateY(-4%);
  }
  .card-index:hover:after,
.card-index:focus-within:after {
    transform: translateY(-50%);
  }
  .card-index:hover .content,
.card-index:focus-within .content {
    transform: translateY(0);
  }
  .card-index:hover .content > *:not(.title),
.card-index:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-index:focus-within:before, .card-index:focus-within:after,
.card-index:focus-within .content,
.card-index:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.00002);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}