




@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');





.product-card {
  height: 620px;
    width: 260px;
    position: relative;
    box-shadow: 0 2px 7px #C9E0FF;
    margin: 50px auto;
    background: #C9E0FF;
    border-radius: 30px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #C9E0FF;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {

    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
  text-align: center;
  font-Size: 18px;
  
    font-weight: 1000;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 25px;
    color: green;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #fbb72c;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/*search bar*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


.search__container {
        padding-top: 64px;
    }


.search__input {
        margin-left: 25%;
        width: 60%;
        padding: 12px 24px;

        background-color: #FFF;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: #FFF;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-radius: 50px;
            border-bottom: 1px solid #575756;
            background-position: 100% center;
        }

.credits__container {
        margin-top: 24px;
    }

.credits__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }

.credits__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
    }

.credits__link:hover,
        .credits__link:focus {
            color: rgb(191, 137, 135);
        }


/*side bar*/


ul.sidebar-menu {
  
  position: absolute;
  width: 23%;
  height: 100%;
  margin-top: 66px;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.sidebar-menu li a span {
  margin-right: 20px;
  color: #fff;
}
.sidebar-menu li a  {
  border-radius:  0px 5px px 0px;
  background-color: #1a203c;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-menu li .sidebar_custom_radio  {
  border-radius:  0px 5px px 0px;
  background-color: #394781;
  padding: 20px 25px;
  
  text-decoration: none;
  color: #fff;
}



.sidebar-menu li a:hover  {
  background-color:  #4758a5;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-menu li input span {
  margin-right: 20px;
  color: #fff;
}
.sidebar-menu li input  {
  border-radius:  0px 5px px 0px;
  background-color: #1a203c;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-menu li input:hover  {
  background-color:  #4758a5;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #fff;
}
li.have-children ul {
  padding: 0px;
} 
li.have-children ul li a {
  background-color: #4758a5;
  padding-left: 62px;
} 
li.have-children ul li input {
  background-color: #4758a5;
  padding-left: 62px;
} 
li.have-children ul li a:hover {
  color: #fff;
  background-color: #dfdfdf;
  padding-left: 62px;
} 

li.have-children ul li input:hover {
  color: #fff;
  background-color: #dfdfdf;
  padding-left: 62px;
} 
li.have-children, li {
  position: relative;
}
.have-children span::after {
  position: absolute;
  right: 30px;
  content: "\f054";
  color: #fff;
  transition: all .5s;
}
li.active.have-children span::after {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}
@media screen and (max-width: 700px) {
  ul.sidebar-menu {
    margin-top: 5%;
    width: 100%;
    height: auto;
    position: relative;
  }
  aside.sidebar a {float: left;}
  div.content {margin-left: 0;}
}
/* sidebar end */
/* check box start */

.switch-button {
  background: rgba(61, 60, 60, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #000000;
  position: relative;
  padding-right: 50px;
  position: relative;
}
.switch-button:before {
  content: "اخفاء";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(80px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}
/* check box end */

/*priority box start*/

.priority{
  width: 25%;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
background-color: black;
}
.priority.high{
  background-color: red;
}
.priority.low{
  background-color: green;
}

/*code box*/
.codeblock{
  width: 25%;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: grey;
}

/* pagination start */
.center {
  bottom: 100rem;
  margin-left: 15%;
  width: auto;
  text-align: center;
}

.pagination {
  
  display: inline-block;
}

.pagination a {
  background-color: #202527;
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 10px;
}

.pagination a.active {
  background-color: #ff8b88;
  color: white;
  border: 1px solid #ff8b88;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/* pagination end */

/* radio button start  */


.labell input {
  

  position: absolute;
  left: -9999px;
}
.labell input:checked + .spanr {
  background-color: #d6d6e5;
}
.labell input:checked + .spanr:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.labell .spanr {
  font-size:13px;
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.labell .spanr:hover {
  background-color: #d6d6e5;
}
.labell .spanr:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

/* .containerradio {
 
} */
/* radio button end  */

/* slider start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.limit {
  
  position: relative;
  display: inline-block;  text-align: center;
  font-size: 15px;
  color:#000000;
  font-weight: 900;
}
.price_change #rangeValue {
  height: auto;
  width: 80%;
  padding:0px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
 .ranger .range {
  width: 100%;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  border-radius:  0px 5px px 0px;
  padding: 0px;
 
}
.ranger .range:hover  {
 
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  border-radius:  0px 5px px 0px;
  padding: 0px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FF0101;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #FF0101;
}

/* slider end */

/* type button start */
.bn31 {
  background-image: linear-gradient(to right, #00005c 0%, #111 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 40px;
  font-size: 0.7em;
  padding: 10px;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  
  width: auto;
  z-index: 2;
  margin : 5px;
}

.bn31:hover {
  cursor: pointer;
  color: rgb(0, 195, 255);
}

.bn31 .bn31span {
  all: initial;
  all: unset;
  align-items: center;
  background: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
/* type button end */



